<div id="encabezado_height" class="base-encabezado">
    <strong class="strong-desaparecido" id="encabezado"></strong>
</div>
<div id="servicios_height" class="base-servicios">
    <strong class="strong-desaparecido" id="sercicios"></strong>
</div>
<div id="detalles_height" class="base-detalles">
    <strong class="strong-desaparecido" id="detalles"></strong>
</div>
<div id="compatibilidad_height" class="base-compatibilidad">
    <strong class="strong-desaparecido" id="compatibilidad"></strong>
</div>