<div id="encabezado_height" class="base-encabezado">
    <strong class="strong-desaparecido" id="encabezado"></strong>
    <div class="base-contenedor_encabezado">
        <div class="base-texto">
            <div class="base-contedor_texto">
                <div class="base-titulo_texto">
                    <span class="span-titulo">
                        ¿Quieres llevar tu rent a car al siguiente nivel? PilotSystem</span>
                </div>
                <div class="base-descripction_texto">
                    <span class="span-descripcion">Pilot es un sistema de administración y facturación de rent a car online, adaptado a dispositivos móviles.</span>
                </div>
                <div class="base-buton_texto">
                    <button type="button" class="button-informacion"> Más información </button>
                </div>
            </div>
        </div>
        <div class="base-imagen">
            <div class="base-contenedor_imagen">
                <img src="../../../../assets/imagenes_descripcion/Laptop, tabled y celular.png" alt="">
            </div>
        </div>
    </div>
</div>
<div id="servicios_height" class="base-servicios">
    <strong class="strong-desaparecido" id="sercicios"></strong>
    <div class="base-contenedor_servicio">
        <div class="base-interior_servicio">
            <div class="base-titulo_servico">
                <h1>Nuestros <span class="span-servicio">servicios</span></h1>
            </div>
            <div class="base-contenido_servicios">

                <div *ngFor="let Carta of contenidoCarta" class="base-contenedor_carta">
                    <div class="base-interior_carta">
                        <div class="base-carta_icon">
                            <img src='{{Carta.icono}}' alt="">
                        </div>
                        <div class="base-carta_titulo">
                            <span class="span-carta_titulo"> {{Carta.titulo}} </span>
                        </div>
                        <div class="base-carta_descripcion">
                            <span class="span-carta_descripcion">{{Carta.descripcion}}</span>
                        </div>
                        <div class="base-carta_informacion">
                            <span class="span-carta_informacion"> <a href="{{Carta.enlace}}">Más información</a> </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="detalles_height" class="base-detalles">
    <strong class="strong-desaparecido" id="detalles"></strong>
    <div class="base-gps_card">
        <strong class="strong-desaparecido" id="gps_card1"></strong>
        <div class="base-interior_card1">
            <div class="base-imagen_card1">
                <img src="../../../../assets/imagenes_descripcion/apagado.png" alt="">
            </div>
            <div class="base-descripcion_card1">
                <div class="base-titulo_descripcion_card1">
                    <h2>Apagado y encendido del motor.</h2>
                </div>
                <div class="base-texto_descripcion_card1">
                    <span class="span-descripcion_card1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error ducimus molestias ullam quas soluta odit recusandae adipisci aut sapiente, quis a saepe excepturi at! Id magni nemo dolor voluptatum sunt!
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="base-gps_card">
        <strong class="strong-desaparecido" id="gps_card2"></strong>
        <div class="base-interior_card1">

            <div class="base-descripcion_card1">
                <div class="base-titulo_descripcion_card1">
                    <h2>Georeferencias</h2>
                </div>
                <div class="base-texto_descripcion_card1">
                    <span class="span-descripcion_card1">
                        La característica Geocerca permite establecer límites geográficos alrededor de las áreas que tienen un interés específico para usted. Reciba alertas automáticas cuando el vehículo entre o salga de los límites establecidos.
                    </span>
                </div>
            </div>

            <div class="base-imagen_card1">
                <img src="../../../../assets/imagenes_descripcion/georeferencias.png" alt="">
            </div>
        </div>
    </div>
    <div class="base-gps_card">
        <strong class="strong-desaparecido" id="gps_card2"></strong>
        <div class="base-interior_card1">

            <div class="base-imagen_card1">
                <img src="../../../../assets/imagenes_descripcion/georeferencias.png" alt="">
            </div>

            <div class="base-descripcion_card1">
                <div class="base-titulo_descripcion_card1">
                    <h2>Límite de velocidad</h2>
                </div>
                <div class="base-texto_descripcion_card1">
                    <span class="span-descripcion_card1">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo fugit eveniet cupiditate esse, autem mollitia cumque quos quo accusantium sint vel nisi vitae omnis doloremque nam repudiandae! Quis, minima architecto.
                    </span>
                </div>
            </div>


        </div>
    </div>
    <div class="base-gps_card">
        <strong class="strong-desaparecido" id="gps_card2"></strong>
        <div class="base-interior_card1">


            <div class="base-descripcion_card1">
                <div class="base-titulo_descripcion_card1">
                    <h2>Historial y Reportes</h2>
                </div>
                <div class="base-texto_descripcion_card1">
                    <span class="span-descripcion_card1">
                        Descargar informes en diferentes formatos: XLS, PDF, CSV, TXT. Estos informes le ofrecerán información variada por fecha y nombre del GPS de seguimiento, la cual incluye: horas de conducción, distancia recorrida, consumo de combustible y muchos datos más. Los informes detallados y de grupo están también disponibles.
                    </span>
                </div>
            </div>

            <div class="base-imagen_card1">
                <img src="../../../../assets/imagenes_descripcion/seguimiento.jpg" alt="">
            </div>

        </div>
    </div>
    <div class="base-gps_card">
        <strong class="strong-desaparecido" id="gps_card2"></strong>
        <div class="base-interior_card1">

            <div class="base-imagen_card1">
                <img src="../../../../assets/imagenes_descripcion/seguimiento.jpg" alt="">
            </div>

            <div class="base-descripcion_card1">
                <div class="base-titulo_descripcion_card1">
                    <h2>Seguimiento en tiempo real</h2>
                </div>
                <div class="base-texto_descripcion_card1">
                    <span class="span-descripcion_card1">
                        Otros servicios de GPS tardan de uno a dos minutos para actualizar sus datos. Dorhugps reporta cada 5 segundos, proporcionando datos más precisos y confiables a la hora de monitorear sus objetos.
                    </span>
                </div>
            </div>


        </div>
    </div>
    <div class="base-gps_card">
        <strong class="strong-desaparecido" id="gps_card2"></strong>
        <div class="base-interior_card1">


            <div class="base-descripcion_card1">
                <div class="base-titulo_descripcion_card1">
                    <h2>Control de flotas</h2>
                </div>
                <div class="base-texto_descripcion_card1">
                    <span class="span-descripcion_card1">
                        La característica Geocerca permite establecer límites geográficos alrededor de las áreas que tienen un interés específico para usted. Reciba alertas automáticas cuando el vehículo entre o salga de los límites establecidos.
                    </span>
                </div>
            </div>

            <div class="base-imagen_card1">
                <img src="../../../../assets/imagenes_descripcion/previa.jpg" alt="">
            </div>



        </div>
    </div>
</div>
<div id="compatibilidad_height" class="base-compatibilidad">
    <strong class="strong-desaparecido" id="compatibilidad"></strong>
    <div class="base-interior_compatiblilidad">
        <div class="base-compatibilidad_imagen">
            <img src="../../../../assets/imagenes_descripcion/phones_modified.png" alt="">
        </div>
        <div class="base-compatibilidad_buttons">
            <div class="base-texto_compatibilidad">
                <span class="span-texto_compatibilidad">
                    Descarga nuestra app
                </span>
            </div>
            <div class="base-imagenes_descargas">
                <a href="https://itunes.apple.com/cn/app/gpsdd/id1435553517?mt=8" target="_blank">
                    <img src="../../../../assets/imagenes_descripcion/app_sore_dos.png" alt="">
                </a>
                <a href="http://www.gpsdd.net/gps.apk" target="_blank" rel="noopener noreferrer">
                    <img src="../../../../assets/imagenes_descripcion/googplay.png" alt="">
                </a>
            </div>
        </div>
    </div>

</div>