.base-encabezado {
    width: 100%;
    height: 600px;
    background: red;
    position: relative;
}

.base-servicios {
    width: 100%;
    height: 600px;
    background: rgb(0, 119, 255);
    // margin-top: -75px;
    position: relative;
}

.base-detalles {
    width: 100%;
    height: 600px;
    background: rgb(195, 255, 0);
    position: relative;
}

.base-compatibilidad {
    width: 100%;
    height: 600px;
    background: rgb(0, 162, 255);
    position: relative;
}